<div class="container-fluid">
    <div class="row align-items-center home-banner">
        <div class="left-box">
            <div class="logo-box mb-5">
                <h1>TRAVELERS</h1>
            </div>
            <app-sign-in></app-sign-in>
        </div>
        <div class="right-box">

        </div>
    </div>

    <div class="row align-items-center">
        <app-reviews></app-reviews>
    </div>
</div>


<!-- <div class="row">
    <div class="col-md-4">
        <h1>Travelers</h1>
        <hr><br>
        <a [routerLink]="['/sign-in']" class="btn btn-primary">Sign in</a>
        <a [routerLink]="['/sign-up']" class="btn btn-primary">Sign up</a>
    </div>
</div> -->